.product {
  margin: 0;
  padding: 0;
  border: none;
}
.product__legend{
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 15px 0;
  color: #363232;
  background-color: #FFFFFF;
  width: 100%;
}
.product__legend:before{
  content: '';
  position: relative;
  display: inline-flex;
  height: 19px;
  width: 36px;
  margin-right: 6px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMTkiIGZpbGw9IiMzNjMyMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTM1Ljk2IDEwLjk3OWMtLjE1OS0uMTk5LS4zOTgtLjM1OC0uNjM2LS4zNThoLTcuNDM5bC01LjAxMi01Ljc2OGEuNjM5LjYzOSAwIDAgMC0uNDM4LS4xOTlIMTYuNDdjMC0uMDQgMC0uMDgtLjA0LS4xMkwxNC4yLjMxOUEuNjIuNjIgMCAwIDAgMTMuNjg0IDBoLTIuOTgzYS42MTIuNjEyIDAgMCAwLS41OTcuNTk3djQuMDE3SDcuNzE3YS42OC42OCAwIDAgMC0uNTE3LjI3OUwzLjgxOSAxMC41OGgtMS43NWEuNTg2LjU4NiAwIDAgMC0uNTk3LjU5N2MwIC4xMi0uMDQgMi40MjYuOTE1IDQuNDk1LS40NzgtLjE5OS0xLjA3NC0uMzE4LTEuNzktLjMxOEEuNjEyLjYxMiAwIDAgMCAwIDE1Ljk1YzAgLjMxOS4yNzguNTk3LjU5Ny41OTcgMS4zMTIgMCAxLjk0OS40NzcgMi43MDUgMS4wNzQuNzk1LjU5NyAxLjY3IDEuMzEzIDMuNDIgMS4zMTNoLjU1OGMuMDggMCAuMTU5LS4wNC4yMzgtLjA4IDEuMjMzLS4xNTkgMS45NS0uNzU2IDIuNjI2LTEuMjMzLjcxNi0uNTU3IDEuMzUyLTEuMDc0IDIuNzA1LTEuMDc0IDEuMzEyIDAgMS45NDkuNDc3IDIuNzA1IDEuMDc0Ljc5NS41OTcgMS42NyAxLjMxMyAzLjQyIDEuMzEzczIuNjI2LS43MTYgMy40MjItMS4zMTNjLjcxNi0uNTU3IDEuMzUyLTEuMDc0IDIuNzA1LTEuMDc0IDEuMzEyIDAgMS45NDkuNDc3IDIuNzA0IDEuMDc0Ljc5Ni41OTcgMS42NzEgMS4zMTMgMy40MjIgMS4zMTNhLjYxMi42MTIgMCAwIDAgLjU5Ni0uNTk3LjYxMi42MTIgMCAwIDAtLjU5Ni0uNTk3Yy0uNDM4IDAtLjc5Ni0uMDQtMS4xMTQtLjE1OWw1LjcyOC01Ljk2NmEuNjIzLjYyMyAwIDAgMCAuMTItLjYzN3pNMTQuMTYxIDIuODY0bC45NTUgMS44M2gtMy44MTl2LTEuODNoMi44NjR6bS0yLjkwMy0xLjYzaDIuMDI4bC4yMzkuNDM3aC0yLjI2OHYtLjQzOHpNOC4wNzUgNS44NDdoMTQuMDgybDEuODcgMi4xNDhINi43NjFsMS4zMTMtMi4xNDh6TTYuMDg2IDkuMTg5aDE4Ljk3NWwxLjI3MyAxLjQzMkg1LjIxbC44NzUtMS40MzJ6bTIyLjgzMyA3Ljg3NmwtLjQ3Ny0uMzU4Yy0uNzk2LS41OTctMS42Ny0xLjMxMy0zLjQyMS0xLjMxMy0xLjc1IDAtMi42MjUuNzE2LTMuNDIxIDEuMzEzLS43MTYuNTU3LTEuMzUzIDEuMDc0LTIuNzA1IDEuMDc0LTEuMzEzIDAtMS45NS0uNDc3LTIuNzA1LTEuMDc0LS43OTYtLjU5Ny0xLjY3LTEuMzEzLTMuNDItMS4zMTMtMS43MTEgMC0yLjYyNi43MTYtMy40MjIgMS4zMTMtLjY3Ni41MTctMS4yNzMuOTk1LTIuNDI2IDEuMDM0YTMuNjc3IDMuNjc3IDAgMCAxLTIuNTQ2LTEuMTEzYy0xLjM1My0xLjM5My0xLjY3MS0zLjc0LTEuNzUtNC44MTRoMzEuMjY2bC00Ljk3MyA1LjI1MXoiLz4KPC9zdmc+Cg==);
  /*background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMTkiIGZpbGw9IiNGRkYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTM1Ljk2IDEwLjk3OWMtLjE1OS0uMTk5LS4zOTgtLjM1OC0uNjM2LS4zNThoLTcuNDM5bC01LjAxMi01Ljc2OGEuNjM5LjYzOSAwIDAgMC0uNDM4LS4xOTlIMTYuNDdjMC0uMDQgMC0uMDgtLjA0LS4xMkwxNC4yLjMxOUEuNjIuNjIgMCAwIDAgMTMuNjg0IDBoLTIuOTgzYS42MTIuNjEyIDAgMCAwLS41OTcuNTk3djQuMDE3SDcuNzE3YS42OC42OCAwIDAgMC0uNTE3LjI3OUwzLjgxOSAxMC41OGgtMS43NWEuNTg2LjU4NiAwIDAgMC0uNTk3LjU5N2MwIC4xMi0uMDQgMi40MjYuOTE1IDQuNDk1LS40NzgtLjE5OS0xLjA3NC0uMzE4LTEuNzktLjMxOEEuNjEyLjYxMiAwIDAgMCAwIDE1Ljk1YzAgLjMxOS4yNzguNTk3LjU5Ny41OTcgMS4zMTIgMCAxLjk0OS40NzcgMi43MDUgMS4wNzQuNzk1LjU5NyAxLjY3IDEuMzEzIDMuNDIgMS4zMTNoLjU1OGMuMDggMCAuMTU5LS4wNC4yMzgtLjA4IDEuMjMzLS4xNTkgMS45NS0uNzU2IDIuNjI2LTEuMjMzLjcxNi0uNTU3IDEuMzUyLTEuMDc0IDIuNzA1LTEuMDc0IDEuMzEyIDAgMS45NDkuNDc3IDIuNzA1IDEuMDc0Ljc5NS41OTcgMS42NyAxLjMxMyAzLjQyIDEuMzEzczIuNjI2LS43MTYgMy40MjItMS4zMTNjLjcxNi0uNTU3IDEuMzUyLTEuMDc0IDIuNzA1LTEuMDc0IDEuMzEyIDAgMS45NDkuNDc3IDIuNzA0IDEuMDc0Ljc5Ni41OTcgMS42NzEgMS4zMTMgMy40MjIgMS4zMTNhLjYxMi42MTIgMCAwIDAgLjU5Ni0uNTk3LjYxMi42MTIgMCAwIDAtLjU5Ni0uNTk3Yy0uNDM4IDAtLjc5Ni0uMDQtMS4xMTQtLjE1OWw1LjcyOC01Ljk2NmEuNjIzLjYyMyAwIDAgMCAuMTItLjYzN3pNMTQuMTYxIDIuODY0bC45NTUgMS44M2gtMy44MTl2LTEuODNoMi44NjR6bS0yLjkwMy0xLjYzaDIuMDI4bC4yMzkuNDM3aC0yLjI2OHYtLjQzOHpNOC4wNzUgNS44NDdoMTQuMDgybDEuODcgMi4xNDhINi43NjFsMS4zMTMtMi4xNDh6TTYuMDg2IDkuMTg5aDE4Ljk3NWwxLjI3MyAxLjQzMkg1LjIxbC44NzUtMS40MzJ6bTIyLjgzMyA3Ljg3NmwtLjQ3Ny0uMzU4Yy0uNzk2LS41OTctMS42Ny0xLjMxMy0zLjQyMS0xLjMxMy0xLjc1IDAtMi42MjUuNzE2LTMuNDIxIDEuMzEzLS43MTYuNTU3LTEuMzUzIDEuMDc0LTIuNzA1IDEuMDc0LTEuMzEzIDAtMS45NS0uNDc3LTIuNzA1LTEuMDc0LS43OTYtLjU5Ny0xLjY3LTEuMzEzLTMuNDItMS4zMTMtMS43MTEgMC0yLjYyNi43MTYtMy40MjIgMS4zMTMtLjY3Ni41MTctMS4yNzMuOTk1LTIuNDI2IDEuMDM0YTMuNjc3IDMuNjc3IDAgMCAxLTIuNTQ2LTEuMTEzYy0xLjM1My0xLjM5My0xLjY3MS0zLjc0LTEuNzUtNC44MTRoMzEuMjY2bC00Ljk3MyA1LjI1MXoiLz4KPC9zdmc+Cg==");*/
}
.product__inner {
  display:  flex;
  flex-direction: column;
  padding: 10px 15px;
  width: 100%;
}
@media (min-width: 1200px){
  .product__inner{
    flex-direction: row;
    justify-content: space-between;
    margin-left: -7.5px;
    margin-right: -7.5px;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}
