.ticketsWrapper{
  position: relative;
  margin-bottom: 20px;
}
.ticketsItem{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 15px 5px;
  padding: 10px 0 0 10px;
  min-height: 40px;
  border-top: 1px solid #C9C9C9;
}
.ticketsItem+.ticketsItem{
  margin: 10px 15px 5px;
}
.ticketsItem:before{
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: -15px;
  height: 40px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: left center;
}
/*#4FA0D0*/
.ticketsItem[data-name='Взрослый']:before{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMzIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTcuNSA3LjMxOWEzLjY2MyAzLjY2MyAwIDAgMCAzLjY2LTMuNjZBMy42NjMgMy42NjMgMCAwIDAgNy41IDBhMy42NjMgMy42NjMgMCAwIDAtMy42NiAzLjY2QTMuNjYzIDMuNjYzIDAgMCAwIDcuNSA3LjMxOHpNMTQuOTUzIDE4LjIzOGwtMi45NjQtOS4xODRjLS4xNi0uNDkyLS42ODgtLjg3Ny0xLjIwNS0uODc3SDQuMjE1Yy0uNTE3IDAtMS4wNDYuMzg1LTEuMjA0Ljg3N0wuMDQ3IDE4LjIzOGEuODM1LjgzNSAwIDAgMCAuMS43NTcuODM1LjgzNSAwIDAgMCAuNjkuMzI4aC43NmMuNTE2IDAgMS4wNDUtLjM4NSAxLjIwNC0uODc3bC44NDQtMi42MTdWMjkuMzgzYTEuNjkgMS42OSAwIDAgMCAxLjY4OCAxLjY4OGguMTJhMS42OSAxLjY5IDAgMCAwIDEuNjg4LTEuNjg5di04LjgzNmguNzE4djguODM2YTEuNjkgMS42OSAwIDAgMCAxLjY4OCAxLjY4OWguMTJhMS42OSAxLjY5IDAgMCAwIDEuNjg4LTEuNjg5VjE1LjgyOGwuODQ1IDIuNjE4Yy4xNTguNDkyLjY4Ny44NzcgMS4yMDQuODc3aC43NmMuMjg2IDAgLjUzNy0uMTIuNjg5LS4zMjhhLjgzNC44MzQgMCAwIDAgLjEtLjc1N3oiIGZpbGw9IiM0RkEwRDAiLz4KPC9zdmc+Cg==);
}
.ticketsItem[data-name='Дошкольный (до 3-х лет)']:before,
.ticketsItem[data-name='Дошкольный']:before{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTE0LjIxOCAxOC4xNjZzMi43NDEgMi43NDQgMi43NDggMi43NDhjLjg3NC44ODEuNjQ4IDIuNDMtLjE4IDMuMjcyTDEyLjk2IDI4LjE3Yy0xLjQ3NyAxLjQ3My0zLjQ1LS41NzItMi4wMTctMS45OThsMi40MjYtMi40MjgtMi4zNzUtMi4zNTYgMy4yMjMtMy4yMjN6bS04LjUyNyAwcy0yLjczNyAyLjc0NC0yLjczNyAyLjc0OGMtLjg4MS44ODEtLjY1NSAyLjQzLjE2NCAzLjI3Mkw2Ljk2IDI4LjE3YzEuNDcyIDEuNDczIDMuNDQ2LS41NzIgMi4wMi0xLjk5OGwtMi40MjMtMi40MjggMi4zNTctMi4zNTYtMy4yMjItMy4yMjN6TTEwLjA1IDcuOTU1YTMuOTc3IDMuOTc3IDAgMCAwIDMuOTc3LTMuOTgzQTMuOTc1IDMuOTc1IDAgMCAwIDEwLjA1IDBhMy45NzkgMy45NzkgMCAwIDAtMy45ODMgMy45NzIgMy45OCAzLjk4IDAgMCAwIDMuOTgzIDMuOTgzem00LjMxIDguNjE4bC4wNTgtMi43MTQgMy4zMDcgMy4wODVjLjI2OS4yNTYuNjE0LjM3Ny45Ni4zNzcuMzczIDAgLjc1Mi0uMTQ5IDEuMDI4LS40NDQuNTMtLjU3MS41LTEuNDYtLjA2Ny0xLjk5IDAgMC0zLjc5LTQuMTItNC4zMzYtNC42LTEuMDA4LS44OTQtMi40ODctMS40MDEtNC44ODYtMS40MDFIOS42N2MtMi40MDEgMC0zLjg3OS41MDctNC44OSAxLjQtLjU0NC40OC00LjMzNSA0LjYtNC4zMzUgNC42YTEuNDEgMS40MSAwIDAgMC0uMDY3IDEuOTkxYy4yNzYuMjk1LjY1My40NDQgMS4wMjkuNDQ0LjM0NSAwIC42OTEtLjEyLjk2Mi0uMzc3bDMuMzA1LTMuMDgzLjA1OCAyLjcxM2g4LjYyN3YtLjAwMXoiIGZpbGw9IiM0RkEwRDAiLz4KPC9zdmc+Cg==);
}
.ticketsItem[data-name='Льготный']:before{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMzEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTExLjIxMiA2LjExYTMuMDU2IDMuMDU2IDAgMSAwLS4wMDItNi4xMTIgMy4wNTYgMy4wNTYgMCAwIDAgLjAwMiA2LjExMnpNMTUuOTMzIDIzLjQyYy0uODEyIDIuODItMy40MSA0Ljg5LTYuNDg3IDQuODlhNi43NjIgNi43NjIgMCAwIDEtNi43NTYtNi43NTVjMC0yLjc1NyAxLjY2NC01LjEzIDQuMDM3LTYuMTc5di0yLjg2M0MyLjg0IDEzLjY4MyAwIDE3LjI5MiAwIDIxLjU1NSAwIDI2Ljc2MyA0LjIzNyAzMSA5LjQ0NiAzMWMzLjc5NSAwIDcuMDY3LTIuMjU2IDguNTY3LTUuNDkzbC0xLjA2Ni0yLjA5NS0xLjAxNC4wMDl6IiBmaWxsPSIjNEZBMEQwIi8+CiAgPHBhdGggZD0iTTI0LjgzMyAyNy4wNDdsLTQuMDkyLTguMDQ1YTEuNzkxIDEuNzkxIDAgMCAwLTEuNTk4LS45OGgtNS4yNDF2LTEuMTk2aDQuNTFjLjQ1IDAgLjgzLS4yMzUgMS4wNzQtLjU3NC4xNTktLjIyMS4yNzItLjQ3OC4yNzItLjc3MSAwLS43NDMtLjYwMi0xLjM0Ni0xLjM0Ni0xLjM0NmgtNC41MXYtNC4wNTNjMC0xLjExNS0uODI3LTIuNjkxLTIuNjktMi42OTFhMi42OSAyLjY5IDAgMCAwLTIuNjkgMi42OXY4Ljc4M2EyLjc0NSAyLjc0NSAwIDAgMCAyLjc0NCAyLjc0NWg2Ljc3N2wzLjU5MyA3LjA2NGExLjc5MiAxLjc5MiAwIDEgMCAzLjE5Ny0xLjYyNnoiIGZpbGw9IiM0RkEwRDAiLz4KPC9zdmc+Cg==);
}
.ticketsItem[data-name='Детский (от 3 до 12 лет)']:before,
.ticketsItem[data-name='Детский']:before{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMzciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTguNDggMTcuMzcxYTIuMzMxIDIuMzMxIDAgMSAwIDAtNC42NjIgMi4zMzEgMi4zMzEgMCAwIDAgMCA0LjY2MnoiIGZpbGw9IiM0RkEwRDAiLz4KICA8cGF0aCBkPSJNMTQuOTEyIDIzLjcwNmMtLjcyNS0xLjg4NC0xLjg1OS0zLjY1NS0zLjE5Mi00Ljk4OGExLjMxMiAxLjMxMiAwIDAgMC0uMzYtLjI1di0uMDI5Yy0uNDMtLjU3Ny0uOTgzLS42MzYtLjk4My0uNjM2bC0zLjc2Ni0uMDE1cy0uMTc3LS4wMDQtLjQxNS4wNDJjLTItMS4wNTgtMi4xMDUtMy4zNjMtMS43OC01LjI0OGExLjMyIDEuMzIgMCAwIDAtMS4wNzctMS41MjVjLS4wNjQtLjAxMi0uMTI3LS4wMTMtLjE5LS4wMTRMMi40NTMgNi40M2wuNDczLS4xMy0uMzU3LS4yNThjLjc0Ni0uMzggMS4yMDMtMS40NyAxLjA2My0yLjY5M0MzLjQ2OCAxLjg5OSAyLjUyNi44MTcgMS41My45My41MzMgMS4wNDUtLjE0MSAyLjMxMi4wMjUgMy43NmMuMTU4IDEuMzgxIDEuMDIgMi40MjcgMS45NjMgMi40MjVsLS4zNi40NzIuNDU4LS4xMjcuNjg2IDQuNTU1Yy0uNDgyLjEzLS44Ny41MjQtLjk2IDEuMDQ3LS42ODYgMy45ODEuNjM1IDYuOTY1IDMuNTYyIDguMjQybC4yNzcgMy40NDh2Mi42MDdjMCAuMTUuMDE1LjI5OC4wMzkuNDQxLS4wMDEuMDI5LS4wMDUuMDU2LS4wMDUuMDg0djcuNzg1YzAgLjc3OC41ODEgMS40MDggMS4yOTcgMS40MDguNzE1IDAgMS4yOTQtLjYzMSAxLjI5NC0xLjQwOHYtNS41NTNjLjA0NS4wMDMuMDkxLjAwNy4xMzcuMDA3LjA0NSAwIC4wODgtLjAwNC4xMzMtLjAwN3Y1LjU1M2MwIC43NzguNTggMS40MDggMS4yOTUgMS40MDguNzE0IDAgMS4yOTUtLjYzMSAxLjI5NS0xLjQwOHYtNy43ODZjMC0uMDE5LS4wMDMtLjAzNi0uMDAzLS4wNTVhMi44MSAyLjgxIDAgMCAwIC4wNDMtLjQ3di0yLjQ1MmwuMDU2LTEuNjc3Yy40OC43My44OTQgMS41MjggMS4yMTMgMi4zNTVhMS4zMjEgMS4zMjEgMCAwIDAgMi40NjctLjk0OHoiIGZpbGw9IiM0RkEwRDAiLz4KPC9zdmc+Cg==);
}
.ticketsItemText{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 13.4px;
  padding-left: 8px;
}
.ticketsItemControls{
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  margin-left: 15px;
  margin-right: -7px;
}
.ticketsDl{
  margin: 0;
}
